html,body{
	margin: 0;
	padding: 0;
	background-color:#ccc;
}

/* NAVIGATION ----------------------------------------------> */

nav{
	top:-1rem;
	position: relative;
	width: 100%;
	background:#000;
	height: 50px;
}

nav a{

	text-decoration: none;
	color:#fff;
}

nav ul{
	padding-top:1rem;
	padding-left: 10em;
	font-family: sans-serif;
	list-style-type: none;
}

nav li{
	padding-right: 2em;
	text-decoration: none;
 	display: inline;
}


/* NAVIGATION ----------------------------------------------> */
